*.csv
*.xml
*.ttl
*.nt
*.py
*.bmp
*.txt
*.zip
*.tsv
*.klm
*.xz
*.json
*.jpg
*.jpeg
.DS_Store
*.png
*.html
*.pdf
digital_image/
valencia/
*.jp2
geopandas-tutorial/
GLAM-Workbench/
graph_aws/
graph_notebook/
ivpy/
ivpy_bk/
*.yml
*.sh
*.yaml
KG/kglab/
VC-Anna/
